In [4]:
# Dependencies
import pandas as pd

In [5]:
# Read CSV
county_levels = pd.read_csv('data/United_States_COVID-19_Community_Levels_by_County.csv')
cases_deaths = pd.read_csv('data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
death_counts = pd.read_csv('data/Provisional_COVID-19_Death_Counts_in_the_United_States_by_County.csv')

In [6]:
county_levels

,county,county_fips,state,county_population,health_service_area_number,health_service_area,health_service_area_population,covid_inpatient_bed_utilization,covid_hospital_admissions_per_100k,covid_cases_per_100k,covid-19_community_level,date_updated
0,American Samoa,60000,American Samoa,"47,392",901.0,American Samoa,"47,392",0.0,2.1,156.14,Low,2022-03-03
1,Guam,66000,Guam,"168,489",902.0,Guam,"168,489",15.2,38.6,833.88,High,2022-03-03
2,Commonwealth of the Northern Mariana Islands,69000,Commonwealth of the Northern Mariana Islands,"51,851",903.0,Commonwealth of the Northern Mariana Islands,"51,851",7.2,9.6,"1,267.09",Medium,2022-03-03
3,United States Virgin Islands,78000,United States Virgin Islands,"106,290",905.0,United States Virgin Islands,"106,290",2.4,0.9,78.09,Low,2022-03-03
4,American Samoa,60000,American Samoa,"47,392",901.0,American Samoa,"47,392",0.9,19.0,434.67,High,2022-03-10
...,...,...,...,...,...,...,...,...,...,...,...,...
19339,Gooding County,16047,Idaho,"15,179",695.0,"Twin Falls, ID - Jerome, ID","131,835",2.1,3.8,32.94,Low,2022-03-31
19340,American Samoa,60000,American Samoa,"47,392",901.0,American Samoa,"47,392",2.8,19.0,"3,143.99",High,2022-03-31
19341,Guam,66000,Guam,"168,489",902.0,Guam,"168,489",8.6,78.3,151.94,High,2022-03-31
19342,Commonwealth of the Northern Mariana Islands,69000,Commonwealth of the Northern Mariana Islands,"51,851",903.0,Commonwealth of the Northern Mariana Islands,"51,851",3.8,5.8,154.29,Low,2022-03-31
19343,United States Virgin Islands,78000,United States Virgin Islands,"106,290",905.0,United States Virgin Islands,"106,290",0.5,0.9,37.63,Low,2022-03-31

In [7]:
cases_deaths

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,08/14/2020,WA,"66,066",NaN,NaN,898,19,"1,755",NaN,NaN,19,0,08/16/2020 12:00:00 AM,NaN,NaN
1,08/17/2020,MD,"100,715",NaN,NaN,503,0,"3,765","3,616",149,3,0,08/19/2020 12:00:00 AM,NaN,Agree
2,03/28/2022,VT,"107,785",NaN,NaN,467,35,585,NaN,NaN,0,0,03/29/2022 01:30:11 PM,Not agree,Not agree
3,03/18/2020,ME,44,44,0,12,0,0,0,0,0,0,03/20/2020 12:00:00 AM,Agree,Agree
4,02/06/2020,NE,0,NaN,NaN,0,NaN,0,NaN,NaN,0,NaN,03/26/2020 04:22:39 PM,Agree,Agree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48055,07/20/2021,RI,"145,399",NaN,NaN,47,0,"2,737",NaN,NaN,1,0,03/25/2022 01:13:04 PM,Not agree,NaN
48056,09/20/2020,SC,"141,073","136,366","4,707",952,86,"3,175",NaN,NaN,10,1,09/20/2020 12:00:00 AM,Agree,Not agree
48057,07/11/2020,RI,"16,456",NaN,NaN,52,0,978,NaN,NaN,3,0,03/25/2022 01:13:04 PM,Not agree,NaN
48058,07/04/2021,KY,"463,215","347,059","116,156",117,22,"7,927","7,032",895,4,0,07/06/2021 12:00:00 AM,Agree,Agree
48059,04/10/2020,OR,"1,371",NaN,NaN,50,NaN,48,NaN,NaN,4,NaN,04/09/2020 04:22:39 PM,Agree,Agree

In [29]:
cases_deaths.dtypes

submission_date    object
state              object
tot_cases          object
conf_cases         object
prob_cases         object
new_case           object
pnew_case          object
tot_death          object
conf_death         object
prob_death         object
new_death          object
pnew_death         object
created_at         object
consent_cases      object
consent_deaths     object
dtype: object

In [33]:
covert_dict = {
#     'submission_date' : datetime,
               'state': str,
               'tot_cases': int,
               'conf_cases': int,
               'prob_cases': int,
               'new_case': int, 
               'pnew_case': int,
               'tot_death': int,
               'conf_death': int,
               'prob_death': int,
               'new_death': int,
               'pnew_death': int,
#                'created_at': datetime,
               'consent_cases': int,
               'consent_deaths': int 
              }

In [34]:
cases_deaths = cases_deaths.astype(covert_dict)
cases_deaths

ValueError: invalid literal for int() with base 10: '66,066'

In [21]:
df = cases_deaths.groupby(['submission_date'])
df

In [13]:
death_counts

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,03/30/2022,01/01/2020,03/26/2022,AK,Aleutians East Borough,2013,Noncore,NaN,16.0,One or more data cells have counts between 1-9...
1,03/30/2022,01/01/2020,03/26/2022,AK,Anchorage Municipality,2020,Medium metro,657.0,5611.0,NaN
2,03/30/2022,01/01/2020,03/26/2022,AK,Bethel Census Area,2050,Noncore,32.0,258.0,NaN
3,03/30/2022,01/01/2020,03/26/2022,AK,Denali Borough,2068,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
4,03/30/2022,01/01/2020,03/26/2022,AK,Dillingham Census Area,2070,Noncore,NaN,74.0,One or more data cells have counts between 1-9...
...,...,...,...,...,...,...,...,...,...,...
3065,03/30/2022,01/01/2020,03/26/2022,WY,Sweetwater County,56037,Micropolitan,98.0,774.0,NaN
3066,03/30/2022,01/01/2020,03/26/2022,WY,Teton County,56039,Micropolitan,18.0,207.0,NaN
3067,03/30/2022,01/01/2020,03/26/2022,WY,Uinta County,56041,Micropolitan,20.0,326.0,NaN
3068,03/30/2022,01/01/2020,03/26/2022,WY,Washakie County,56043,Noncore,27.0,184.0,NaN
3069,03/30/2022,01/01/2020,03/26/2022,WY,Weston County,56045,Noncore,NaN,154.0,One or more data cells have counts between 1-9...

In [16]:
death_counts_by_county_3_20 = death_counts[['FIPS County Code', 'Deaths involving COVID-19', 'Deaths from All Causes']]
death_counts_by_county_3_20.rename(columns={'FIPS County Code': 'county_fips', 'Deaths involving COVID-19': 'deaths_involving_covid', 'Deaths from All Causes': 'deaths_from_all_causes'})

      county_fips  deaths_involving_covid  deaths_from_all_causes
0            2013                     NaN                    16.0
1            2020                   657.0                  5611.0
2            2050                    32.0                   258.0
3            2068                     NaN                    14.0
4            2070                     NaN                    74.0
...           ...                     ...                     ...
3065        56037                    98.0                   774.0
3066        56039                    18.0                   207.0
3067        56041                    20.0                   326.0
3068        56043                    27.0                   184.0
3069        56045                     NaN                   154.0

[3070 rows x 3 columns]